<!-- this displays the form to add a golf course to the website -->
{% extends "base_generic.html" %}

{% block content %}
<div class = 'container'>
	<div class="row">
		<div class="col-md-8">
			<h2>Add Golf Course</h2>
			<form method="post" action="{% url 'add-course' %}">
			    {% csrf_token %}
			    {% for field in form %}
			      <p>
			        <b>{{ field.label_tag }}</b> {{ field }}
			        {% for error in field.errors %}
			          <p style="color: red">{{ error }}</p>
			        {% endfor %}
			      </p>
			    {% endfor %}
			    <button type="submit", class="btn btn-success btn-sm">Submit</button>
			  </form>
			
		</div>
	</div>
</div>
{% endblock %}