<!-- shows all the golf courses in the database -->
{% extends 'base_generic.html' %}

{% block content %}
		<div class="container">
			<div class="row">
				<div>
					<h2>Golf Courses in database:</h1>
					<button class="btn btn-success btn-sm""><a href="{% url 'add-course' %}">Add Course a Course Here</a></button>
					<table id ='courses' style="width:100%">
						<tr>
							<th>Courses:</th>
							<th>Par:</th>
							<th>Total Yardage:</th>
						</tr>
						{% for course in courses %}
							<tr id="postitem">
								<td id="date"><a href = "{% url 'course' course %}">
								{{ course.name }}</a></td>
								<td id="score">{{ course.par }} </td>
								<td id="score">{{ course.length }} </td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>


{% endblock %}
