<!-- home view -->
{% extends "base_generic.html" %}

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% url 'css/home.css' %}">
	<script src="{% static 'js/functions.js' %}" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js" type="text/javascript"></script>
</head>

{% block content %}
	<body background="/static/augusta.png" width='500'>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 id='page-title'>Welcome to GolfTrack</h1>
					<h5>Register to compile your playing stats online; it's free and easy to use! Click the "Register" button in the navigation bar to register.</h5>
					<p>Here'a list of the courses in the database:
						<button class="btn btn-sm">
							<a href="{% url 'courses' %}">Courses</a></li>
						</button>
					<p>There are currently {{ num_users }} users registered</p>
				</div>
			</div>
		</div>
	</body>
{% endblock %}

		

