<!-- this displays the form to add a golf round with golfer set to the user logged in -->
{% extends "base_generic.html" %}

{% block content %}
<div class = 'container'>
	<div class="row">
		<div class="col-md-8">
			<h2>Input Golf Round</h2>
			<form class="form-horizontal" method="post" action="">
			    {% csrf_token %}
			    {% for field in form %}
			      <p>
			        {{ field.label_tag }}
			        {{ field }}
			        {% for error in field.errors %}
			          <p style="color: red">{{ error }}</p>
			        {% endfor %}
			      </p>
			    {% endfor %}
			    <button type="submit", class="btn btn-success btn-sm">Submit</button>
			  </form>
			
		</div>
	</div>
</div>
{% endblock %}