<!-- profile home page, includes basic statistics displayed on a table -->
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
		<div class="container">
			<div class="row">
				<div>
					<h2> Welcome {{ user.username }},</h2>
						<button class="btn btn-success btn-sm">
							<a href="{% url 'input_round' %}">Input round</a></li>
						</button >
						<button class="btn btn-success btn-sm">
							<a href="{% url 'profile' %}">Profile</a></li>
						</button >
						{% if is_coach %} 
						<button class="btn btn-success btn-sm">
							<a href="{% url 'course_stats' %}">Course Stats</a></li>
						</button >
						<button class="btn btn-success btn-sm">
							<a href="{% url 'profile_stats' %}">Player Stats</a></li>
						</button >
						{% else %}
						<button class="btn btn-success btn-sm">
							<a href="{% url 'profile_stats' %}">Stats</a></li>
						</button >
						{% endif %}
				</div>
			</div>
			<div class="row">
				<div>
					<h3> Here are your most recent rounds:</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div>
					<table id ='userRounds' style="width:100%">
						<tr>
							<th>Date</th>
							<th>Course</th>
							<th>Total Score</th>
							<th>In Relation to Par</th>
							<th>Putts</th>
							<th>Par 3 scoring av.</th>
							<th>Par 4 scoring av.</th>
							<th>Par 5 scoring av.</th>
						</tr>
						{% for round in rounds %}
							<tr id="postitem" class="item">
								<td id="date">{{ round.date }} </td>
								<td id="course">{{ round.golf_course }} </td>
								<td id="totalScore">{{ round.get_total_score }} </td>
								<td id="overPar">{{ round.get_overpar }} </td>
								<td id="putts">{{ round.putts }} </td>
								<td id="overPar">{{ round.par3average|floatformat:1 }} </td>
								<td id="overPar">{{ round.par4average|floatformat:1 }} </td>
								<td id="overPar">{{ round.par5average|floatformat:1 }} </td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
 {% endblock %}